<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Testing</title>
    <link rel="stylesheet" href="bootstrap.min.css"/>
    <link rel="stylesheet" href="test.css"/>
</head>
<body>
<div id="page-header-left">
    <img id="logo" src="test.png" alt="logo" width="300px"/>
</div>
<div id="page-header-right">
    <h1 class="title">Best template ever</h1>
    <h2 class="name">[[${firstName}]] [[${lastName}]]</h2>
</div>
</body>
</html>
